body {
	background-color: rgb(250, 250, 250);
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: lighter;
}
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	line-height: 45px;
    text-align: center;

}
h1 {
	font-size: 32px;
	font-weight: 500;
}
h2 {
	font-size: 24px;
	font-weight: lighter;

}
a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none; 
	font-weight: 600;
	font-size: 16px;
	text-align: center;
}
a:hover {
	color: black;
}
img {
	width: 500px
	margin: 80px 0px 40px 16px;">
}

/* Custom design with class */
.container {
	width: 700px;
	margin: 40px auto;
}
@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}	

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}	


.card-white {
	background-color: white;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
	padding: 20px;

}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #551A8B
	color: white;
	padding: 15px 20px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 20px;
	color: rgb(210, 210, 210);
}
.list-inline i {
	font-size: 20px;
	color: rgb(210, 210, 210);
}
#introduction p {
	margin-bottom: 40px;
}	






